<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Work Logs</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<!-- Include the Navbar Fragment -->
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-5">
        <h2 class="mb-0">Employees</h2>
        <a class="btn btn-primary" th:href="@{/employee/add}">Add employee</a>
    </div>

    <table class="table table-bordered mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Nickname</th>
            <th>Email</th>
            <th>Phone number</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.nickName}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.phoneNumber}"></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Include the Footer Fragment -->
<div th:replace="fragments/footer :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
