<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.lbl.employees}">Employee</title>
</head>
<body>
<!-- Include the Navbar Fragment -->
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-5">
        <h2 class="mb-0" th:text="#{app.lbl.employees}">Employees</h2>
        <a class="text-primary" th:href="@{/employee/add}">
            <i class="fas fa-plus-circle"></i>
            <span th:text="#{app.lbl.new}">Add</span>
        </a>
    </div>

    <table class="table table-bordered mt-3">
        <thead class="table-light">
        <tr>
            <th th:text="#{app.lbl.id}">ID</th>
            <th th:text="#{app.lbl.name}">Name</th>
            <th th:text="#{app.lbl.nickname}">Nickname</th>
            <th th:text="#{app.lbl.email}">Email</th>
            <th th:text="#{app.lbl.phone}">Phone number</th>
            <th class="text-center" th:text="#{app.lbl.actions}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.nickName}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.phoneNumber}"></td>
            <td class="text-center">
                <a th:title="#{app.lbl.edit}"
                   class="text-warning me-2" th:href="@{|/employee/edit/${employee.id}|}">
                    <i class="fas fa-edit"></i>
                </a>
                <a
                        th:title="#{app.lbl.delete}"
                        href="#" class="text-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteModal"
                        th:attr="data-id=${employee.id}, data-name=${employee.name}">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Footer -->
    <div class="footer" th:replace="fragments/footer :: footer"></div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="deleteModalLabel" th:text="#{app.confirm.delete.header}">Confirm
                    Deletion</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span id="deleteMessage" th:utext="#{app.confirm.delete('')}">Are you sure you want to delete <strong
                        id="entityName"></strong>?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{app.lbl.cancel}">
                    Cancel
                </button>
                <a id="confirmDeleteBtn" class="btn btn-danger" th:text="#{app.lbl.delete}">Delete</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
    const deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        const id = button.getAttribute('data-id');
        const name = button.getAttribute('data-name');

        const entityName = deleteModal.querySelector('#entityName');
        const confirmBtn = deleteModal.querySelector('#confirmDeleteBtn');

        entityName.textContent = name;
        confirmBtn.href = `/work-logs/employee/delete/${id}`;
    });
</script>
</body>
</html>
