<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${log?.id != null} ? #{app.log.edit(${log?.id})} : #{app.log.add}">Add Worklog</title>
</head>
<body>
<!-- Include the Navbar Fragment -->
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container my-5">
    <div class="card shadow-sm rounded-3">
        <div class="card-body">
            <h2 class="card-title mb-4"
                th:text="${log?.id != null} ? #{app.log.edit(${log?.id})} : #{app.log.add}">Add log</h2>
            <form th:action="@{/log/save}" method="post">
                <div class="row g-3">

                    <!-- Hidden input for editing -->
                    <input type="hidden" name="id" th:value="${log?.id}">

                    <div class="col-md-3">
                        <label for="executionDate" class="form-label" th:text="#{app.lbl.execution_date}">Execution
                            date</label>
                        <input type="datetime-local" class="form-control" id="executionDate" name="executionDate"
                               required th:value="${log?.executionDate}">
                    </div>

                    <div class="col-md-3">
                        <label for="employeeId" class="form-label" th:text="#{app.lbl.employee}">Employee</label>
                        <select class="form-select" id="employeeId" name="employeeId" required>
                            <option value="" th:text="#{app.lbl.select}">Select</option>
                            <option th:each="employee : ${employees}"
                                    th:value="${employee.id}"
                                    th:text="${employee.name}"
                                    th:selected="${log?.employee?.id == employee.id}">
                            </option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label for="apartmentId" class="form-label">Apartment</label>
                        <select class="form-select" id="apartmentId" name="apartmentId" required>
                            <option value="" th:text="#{app.lbl.select_apartment}">Select an apartment</option>
                            <option th:each="apartment : ${apartments}"
                                    th:value="${apartment.id}"
                                    th:text="${apartment.descriptionFormated()}"
                                    th:selected="${apartment?.id == log?.apartment?.id}">
                            </option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label for="duration" class="form-label" th:text="#{app.lbl.duration}">Duration</label>
                        <input type="text" class="form-control" id="duration" name="duration" required
                               th:value="${log?.duration}">
                    </div>

                    <div class="col-md-12">
                        <label for="notes" class="form-label" th:text="#{app.lbl.notes}">Notes</label>
                        <textarea class="form-control" id="notes" name="notes" th:text="${log?.notes}"></textarea>
                    </div>

                    <div class="col-12 d-flex justify-content-end gap-2 mt-4">
                        <button type="submit" class="btn btn-primary" th:text="#{app.lbl.save}">Submit</button>
                        <a class="btn btn-secondary" th:href="@{/log}" th:text="#{app.lbl.cancel}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer" th:replace="fragments/footer :: footer"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
